
<!DOCTYPE html>
<html>
  <head>
    title= title
    <link rel='stylesheet' href='/css/color.css' />
  </head>
  <body>
    h1 你所定制的书籍的颜色是我这句话的颜色,是通过服务器端渲染同时通过jsonp获取的
    script(src="js/changeColor.js")
    script(src="/jsonp?cb=changeColor")
  </body>
</html>
