<!DOCTYPE html>
<html>
  <head>
    title= title
    <link rel='stylesheet' href='/css/style.css' />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  </head>
  <body>
    h1= title
    //- 字符串与变量的拼接，变量要在前面加上#{}
    p welcome to #{title}
  </body>
</html>
